body {
font-family: 'Open Sans', sans-serif;
    background-color: rgb(237, 237, 237);

}

.lead {
    font-weight: 300;
    font-size: 60px;
    color: white;
    padding-top: 25px;
    padding-bottom: 0px;
}

.btn {
  border-radius: 3px;
}

.panel {
      border-radius: 0px;
      border:none;
}

.panel-footer {
      border:none;
      background-color: #fff;
          padding: 20px 35px;
}

.panel-success>.panel-heading {
  background: rgb(48, 219, 181);
}

.panel-danger>.panel-heading {
      background: rgb(246, 77, 77);
}

.panel-warning>.panel-heading {
background: rgb(245, 166, 35);
}

.panel-info>.panel-heading {
    background: rgb(77, 121, 246);
}

.btn-success {
    color: #30dbb5;
    background-color: transparent;
    border-color: #30dbb5;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: none;
     border-top-right-radius: 0px;
     border-top-left-radius: 0px;
     color:white;

  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
     background-color: transparent;
    border: 1px solid #f3f3f3;
    padding: 20px;
    margin: -1px 30px;
    color: rgb(138, 138, 138);
}

.btn-warning {
    color: #f5a623;
    background-color: #ffffff;
    border-color: #f5a623;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #30dbb5;
    border-color: #30dbb5;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #f5a623;
    border-color: #f5a623;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #4d79f6;
    border-color: #4d79f6;
}

.btn-danger {
    color: #fff;
    background-color: #f64d4d;
    border-color: #f64d4d;
}

.btn-info {
    color: #4d79f6;
    background-color: #ffffff;
    border-color: #4d79f6;
}
